Repository alibaba/EasyRec, pull requests merged in 2022-06, with the labels that each got.

#203 [feature]: support gzipped csv files
  .git_bin_path
  .git_bin_url
  easy_rec/python/input/csv_input.py
  easy_rec/python/input/input.py
  easy_rec/python/input/rtp_input.py
  easy_rec/python/input/rtp_input_v2.py
  easy_rec/python/protos/dataset.proto
  easy_rec/python/test/train_eval_test.py
  samples/model_config/din_on_gzip_data.config
Labels: ci_test_passed, ci_py3_test_passed

#204 [bugfix]: fix load_fg_json_to_config, make it reentrant
  easy_rec/python/input/odps_rtp_input_v2.py
  easy_rec/python/model/easy_rec_estimator.py
  easy_rec/python/model/rank_model.py
  easy_rec/python/protos/pipeline.proto
  easy_rec/python/test/fg_test.py
  easy_rec/python/utils/convert_rtp_fg.py
  easy_rec/python/utils/fg_util.py
  pai_jobs/run.py
  samples/model_config/fg_train.config
  samples/rtp_fg/fg_test_extensions_final.config
Labels: ci_test_passed, ci_py3_test_passed

#209 [bugfix]: update feature selection doc
  docs/source/feature/feature.rst
  scripts/ci_test.sh
Labels: ci_test_passed, ci_py3_test_passed

#210 [bugfix]: update feature_column.py
  easy_rec/python/feature_column/feature_column.py
  easy_rec/python/utils/config_util.py
Labels: ci_test_passed, ci_py3_test_passed

#211 [feature]: add docker file
  docker/Dockerfile
  docker/sources_18.04.list
  requirements/extra.txt
  scripts/build_docker.sh
  scripts/gen_proto.sh
Labels: ci_test_passed, ci_py3_test_passed

#200 [Feat] Add hive rtp input
  easy_rec/python/feature_column/feature_column.py
  easy_rec/python/inference/predictor.py
  easy_rec/python/input/hive_input.py
  easy_rec/python/input/hive_rtp_input.py
  easy_rec/python/input/rtp_input.py
  easy_rec/python/main.py
  easy_rec/python/predict.py
  easy_rec/python/protos/dataset.proto
  easy_rec/python/protos/feature_config.proto
  easy_rec/python/test/hpo_test.py
  easy_rec/python/tools/add_feature_info_to_config.py
  easy_rec/python/train_eval.py
  easy_rec/python/utils/check_utils.py
  easy_rec/python/utils/config_util.py
  easy_rec/python/utils/hive_utils.py
  easy_rec/python/utils/odps_util.py
  easy_rec/version.py
Labels: ci_test_passed

#213 [feature]: add ngpu train scripts
  scripts/kill_all.sh
  scripts/train_ngpu.sh
Labels: ci_test_passed, ci_py3_test_passed

#214 [feat]: add hadoop env in Dockerfile
  docker/Dockerfile
  docker/hadoop_env.sh
  scripts/build_docker.sh
  setup.cfg
Labels: ci_test_passed, ci_py3_test_passed

#215 [feat] update hive predictor: load predict result to hive
  docs/source/feature/feature.rst
  docs/source/predict/MaxCompute 离线预测.md
  docs/source/release.md
  easy_rec/python/feature_column/feature_column.py
  easy_rec/python/inference/predictor.py
  easy_rec/python/input/csv_input.py
  easy_rec/python/input/rtp_input.py
  easy_rec/python/main.py
  easy_rec/python/model/easy_rec_estimator.py
  easy_rec/python/model/rank_model.py
  easy_rec/python/predict.py
  easy_rec/python/protos/pipeline.proto
  easy_rec/python/test/export_test.py
  easy_rec/python/test/predictor_test.py
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/config_util.py
  easy_rec/python/utils/hive_utils.py
  easy_rec/python/utils/numpy_utils.py
  easy_rec/python/utils/test_utils.py
  easy_rec/python/utils/tf_utils.py
  easy_rec/version.py
Labels: ci_test_passed, ci_py3_test_passed

#218 [feature]: add support for clear_model and clear_export option
  easy_rec/python/test/odps_run.py
  pai_jobs/easy_rec_flow/easy_rec.lua
  pai_jobs/easy_rec_flow_ex/easy_rec_ext.lua
  pai_jobs/run.py
  samples/odps_script/configs/multi_tower_bst.config
  samples/odps_script/configs/multi_tower_din.config
  samples/odps_script/multi_tower/create_inner_multi_tower_table.sql
  samples/odps_script/multi_tower/drop_multil_tower_table.sql
  samples/odps_script/multi_tower/eval_multil_tower.sql
  samples/odps_script/multi_tower/export_again_multi_tower.sql
  samples/odps_script/multi_tower/predict_multil_tower.sql
  samples/odps_script/multi_tower/train_multil_tower_bst_model.sql
  samples/odps_script/multi_tower/train_multil_tower_din_model.sql
Labels: ci_test_passed, ci_py3_test_passed

#220 [bugfix] Fix slow node crush in hive predictor
  easy_rec/python/inference/predictor.py
  easy_rec/python/protos/hive_config.proto
  easy_rec/python/utils/hive_utils.py
  easy_rec/version.py
  samples/emr_script/mmoe/mmoe_census_income.config
Labels: ci_test_passed

#217 Add CMBF model
  .git_bin_path
  .git_bin_url
  README.md
  docs/images/other/f1_score.svg
  docs/images/other/f_beta_score.svg
  docs/source/index.rst
  docs/source/intro.md
  docs/source/loss.md
  docs/source/models/cmbf.md
  docs/source/models/dropoutnet.md
  docs/source/models/multi_tower.md
  docs/source/models/rank.rst
  easy_rec/python/builders/loss_builder.py
  easy_rec/python/feature_column/feature_column.py
  easy_rec/python/input/input.py
  easy_rec/python/layers/cmbf.py
  easy_rec/python/layers/input_layer.py
  easy_rec/python/layers/multihead_cross_attention.py
  easy_rec/python/model/cmbf.py
  easy_rec/python/model/multi_tower.py
  easy_rec/python/model/rank_model.py
  easy_rec/python/protos/cmbf.proto
  easy_rec/python/protos/easy_rec_model.proto
  easy_rec/python/protos/feature_config.proto
  easy_rec/python/protos/layer.proto
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/shape_utils.py
  easy_rec/version.py
  samples/model_config/cmbf_on_movielens.config
  samples/model_config/cmbf_on_movielens_has_other_feature.config
  samples/model_config/cmbf_on_movielens_only_image_feature.config
  samples/model_config/cmbf_on_movielens_only_text_feature.config
  samples/model_config/cmbf_with_multi_loss.config
Labels: ci_test_passed, ci_py3_test_passed

#225 [feat]support checkpoint_path dir
  easy_rec/python/main.py
Labels: ci_test_failed, ci_py3_test_passed
