Repository alibaba/EasyRec, pull requests merged in 2022-08, with the labels that each got.

#260 [feats]: support multi loss for multi task learning model
  docs/source/models/multi_tower.md
  docs/source/train.md
  easy_rec/python/builders/loss_builder.py
  easy_rec/python/model/multi_task_model.py
  easy_rec/python/model/rank_model.py
  easy_rec/python/protos/easy_rec_model.proto
  easy_rec/python/protos/loss.proto
  easy_rec/python/protos/tower.proto
  easy_rec/python/test/train_eval_test.py
  easy_rec/version.py
  samples/model_config/cmbf_with_multi_loss.config
  samples/model_config/dbmtl_on_taobao_with_multi_loss.config
  samples/model_config/mmoe_on_taobao_with_multi_loss.config
  samples/model_config/multi_tower_on_taobao.config
Labels: ci_test_passed, ci_py3_test_passed, ci_py3_tf25_test_passed

#261 update hpo_nni
  docs/images/automl/nni_exp_log.jpg
  docs/images/automl/nni_manager_log.jpg
  docs/images/automl/nni_manager_log2.jpg
  docs/source/automl/pai_nni_hpo.md
  docs/source/train.md
  easy_rec/python/feature_column/feature_column.py
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/convert_rtp_fg.py
  hpo_nni/core/metric_utils.py
  hpo_nni/core/pai_assessor.py
  hpo_nni/core/pyodps_utils.py
  hpo_nni/core/utils.py
  hpo_nni/search/begin/config.yml
  hpo_nni/search/begin/run_begin.py
  hpo_nni/search/finetune/config.yml
  hpo_nni/search/finetune/run_finetune.py
Labels: ci_py3_test_passed, ci_py3_tf25_test_passed

#262 update docs
  docs/source/automl/pai_nni_hpo.md
  docs/source/train.md
  easy_rec/python/builders/loss_builder.py
  easy_rec/python/model/multi_task_model.py
  easy_rec/python/model/rank_model.py
  easy_rec/python/test/train_eval_test.py
Labels: ci_test_passed, ci_py3_test_passed, ci_py3_tf25_test_passed

#264 [feat]:support only sequence feature && fix neg sampler bug for sequence feature
  docs/source/feature/feature.rst
  easy_rec/python/layers/input_layer.py
  easy_rec/python/protos/feature_config.proto
  easy_rec/python/test/train_eval_test.py
  samples/model_config/dbmtl_on_multi_numeric_boundary_need_key_feature_taobao.config
  samples/model_config/dssm_neg_sampler_need_key_feature.config
  samples/model_config/dssm_neg_sampler_sequence_feature.config
Labels: ci_py3_test_passed, ci_py3_tf25_test_passed

#265 [feat]: add aux_hist_seq
  docs/source/feature/feature.rst
  easy_rec/python/layers/input_layer.py
  easy_rec/python/layers/seq_input_layer.py
  easy_rec/python/layers/sequence_feature_layer.py
  easy_rec/python/protos/feature_config.proto
  easy_rec/python/test/train_eval_test.py
  samples/model_config/dbmtl_on_multi_numeric_boundary_allow_key_transform.config
  samples/model_config/dbmtl_on_numeric_boundary_sequence_feature_aux_hist_seq_taobao.config
  samples/model_config/deepfm_on_sequence_feature_aux_hist_seq_taobao.config
Labels: ci_test_passed, ci_py3_test_passed, ci_py3_tf25_test_passed

#266 [feats]: add Uniter model and Uniter layer for DBMTL model
  README.md
  docs/source/intro.md
  docs/source/models/cmbf.md
  docs/source/models/dbmtl.md
  docs/source/models/uniter.md
  easy_rec/python/layers/multihead_cross_attention.py
  easy_rec/python/layers/uniter.py
  easy_rec/python/model/dbmtl.py
  easy_rec/python/model/uniter.py
  easy_rec/python/protos/dbmtl.proto
  easy_rec/python/protos/easy_rec_model.proto
  easy_rec/python/protos/layer.proto
  easy_rec/python/protos/uniter.proto
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/estimator_utils.py
  easy_rec/version.py
  samples/model_config/dbmtl_uniter_on_movielens.config
  samples/model_config/uniter_on_movielens.config
  samples/model_config/uniter_on_movielens_only_image_feature.config
  samples/model_config/uniter_on_movielens_only_text_feature.config
Labels: ci_py3_test_passed

#267 [feat]: add sequence feature negative sample process
  docs/images/models/uniter.png
  docs/source/models/dbmtl.md
  docs/source/models/multi_tower_recall.md
  docs/source/models/rank.rst
  easy_rec/python/layers/input_layer.py
  easy_rec/python/layers/sequence_feature_layer.py
  easy_rec/python/model/multi_tower_recall.py
  easy_rec/python/protos/easy_rec_model.proto
  easy_rec/python/protos/feature_config.proto
  easy_rec/python/protos/multi_tower_recall.proto
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/estimator_utils.py
  samples/model_config/multi_tower_recall_neg_sampler_sequence_feature.config
Labels: ci_test_passed, ci_py3_test_passed, ci_py3_tf25_test_passed

#268 Features/cmbf
  docs/source/index.rst
  docs/source/models/cmbf.md
  easy_rec/python/layers/cmbf.py
  easy_rec/python/protos/layer.proto
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/estimator_utils.py
  samples/model_config/cmbf_on_movielens.config
  setup.cfg
Labels: ci_test_passed, ci_py3_test_passed, ci_py3_tf25_test_passed

#269 Fix bug of sample weight in dssm model
  easy_rec/python/model/match_model.py
  easy_rec/python/test/train_eval_test.py
  samples/model_config/dssm_neg_sampler_with_sample_weight.config
Labels: ci_test_passed, ci_py3_test_passed

#271 use hpo-tools whl
  docs/images/automl/easyrec_metric.jpg
  docs/source/automl/pai_nni_hpo.md
  easy_rec/python/test/train_eval_test.py
  easy_rec/python/utils/estimator_utils.py
  hpo_nni/__init__.py
  hpo_nni/core/__init__.py
  hpo_nni/core/metric_utils.py
  hpo_nni/core/modify_pipeline_config.py
  hpo_nni/core/pai_assessor.py
  hpo_nni/core/pai_nni_test.py
  hpo_nni/core/pyodps_utils.py
  hpo_nni/core/utils.py
  hpo_nni/requirements.txt
  hpo_nni/search/begin/config.yml
  hpo_nni/search/begin/config_begin.ini
  hpo_nni/search/begin/run_begin.py
  hpo_nni/search/begin/search_space.json
  hpo_nni/search/finetune/config.yml
  hpo_nni/search/finetune/config_finetune.ini
  hpo_nni/search/finetune/run_finetune.py
  hpo_nni/search/finetune/search_space.json
  setup.cfg
Labels: ci_test_passed, ci_py3_test_passed

#270 [bugfix]: fix bug for sequence feature wide and deep
  .git_bin_path
  .git_bin_url
  easy_rec/python/layers/fm.py
  easy_rec/python/layers/input_layer.py
  easy_rec/python/layers/sequence_feature_layer.py
  easy_rec/python/test/train_eval_test.py
Labels: ci_test_passed, ci_py3_test_passed, ci_py3_tf25_test_passed
